h2{
    color: brown;
    background-color: black;
}

h3{
    color: cadetblue;
    background-color: black;
}

div{
    background-color: blanchedalmond;
}

.deneme{
    background-color:chocolate;
}

#myp{
    color: brown;
}