body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-small;
}

#test{
    text-align: center;
}
